.mytitle{
  font-size: 930%
}

.marginleft{
  margin-left: 240px;
}

.logo{
  margin-left: 190px;
}

.subtitle{
  font-family: 'auntre';
  text-align: center;
}

.mycart{
  font-size: 120%
}

.mycartsubtitle{
  font-size: 120%
}

.mainsection{
  padding-top: 0%;
}

.myborder{
  padding-top: 10px;
  border-radius: 5%;
}
/*
.logo-nav{
  margin-right: 1330px;
} */

.mymargin{
 margin-left: 10px
}


.lalabel{
  padding-left: 30px;
}
